.modalContent {
    text-align: center;
    width: 592px;
  }
  .exitConfirmText {
    margin: 0;
    /* margin-bottom: 24px; */
    text-align: left;
    font-style: bold;
    margin-top: 24px;
  }
  .buttons {
    display: flex;
    justify-content: left;
    gap: 24px;
    margin-top: 24px;
  }

  .cancelButton {
    background-color: #D7E3FF;
    color: #407BFF;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .cancelButton:hover {
    background-color: #D7E3FF;
    border: 2px solid #5082F2;
    box-shadow: 2px 4px 10px 2px rgba(30, 108, 244, 0.34);
  }

  .deleteButton {
    background-color: #EF5050;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 4px 10px 2px rgb(64 123 255 / 34%);
  }

  .deleteButton:hover {
    border: 2px solid #000000;
    box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.568);
  }

@media screen and (min-width: 320px) {
    .modalContent {
        width: 232px;
    }
    .exitConfirmText {
        font-size: 18px;
      }
      .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        flex-direction: column-reverse;
    }
    .cancelButton {
        width: 232px;
        border-radius: 10px;
    }
    .deleteButton {
        width: 232px;
        border-radius: 10px;
    }
}

@media screen and (min-width: 768px) {
    .modalContent {
        width: 592px;
    }
    .buttons {
        justify-content: right;
        flex-direction: row;
    }
    .cancelButton {
        width: 160px;

    }
    .deleteButton {
        width: 160px;
    }
}

@media screen and (min-width: 1440px) {
  .buttons {
    justify-content: left;
        flex-direction: row;
  }
}


@media (prefers-color-scheme: dark) {
  .cancelButton {
    background-color: #2A3052;
    border: 2px solid #2A3052;
    color: #5082F2 !important;
    box-shadow: 2px 4px 10px 2px rgba(36, 36, 36, 0.34);
  }
  .cancelButton:hover {
    color: #D5DFF5 !important;
    background-color: #1C1D26;
    border: 2px solid #5082F2;
    box-shadow: 2px 4px 10px 2px rgba(30, 108, 244, 0.34);
  }
  .exitConfirmText {
    color: #D5DFF5;
  }
  .deleteButton {
    box-shadow: 2px 4px 10px 2px rgba(36, 36, 36, 0.34);
    color: #1C1D26;
  }
  .deleteButton:hover {
    border: 2px solid #000000;
    box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.568);
  }
}

