.modalContent {
    text-align: center;
    width: 592px;
  }
  .exitConfirmText {
    margin: 0;
    /* margin-bottom: 24px; */
    text-align: left;
    font-style: bold;
    margin-top: 24px;
  }
  .buttons {
    display: flex;
    justify-content: right;
    gap: 24px;
    margin-top: 24px;
  }
  
  .cancelButton {
    background-color: #D7E3FF;
    color: #407BFF;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancelButton:hover {
    background-color: #D7E3FF;
  }
  
  .deleteButton {
    background-color: #EF5050;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    background-color: #EF5050;
  }
  
@media screen and (min-width: 320px) {
    .modalContent {
        width: 232px;
    }
    .exitConfirmText {
        font-size: 18px;
      }
      .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }
    .cancelButton {
        width: 232px;
        border-radius: 10px;
    }
    .deleteButton {
        width: 232px;
        border-radius: 10px;
    }
}

@media screen and (min-width: 768px) {
    .modalContent {
        width: 592px;
    }
    .buttons {
        justify-content: right;
    }
    .cancelButton {
        width: 160px;
        
    }
    .deleteButton {
        width: 160px;
    }
}