input[type='password'] {
  font-family: 'password-font';
}

@font-face {
  font-family: 'password-font';
  src: local('Roboto');
  unicode-range: U+002A;
}
.form {
  padding-bottom: 66px;
}
.title {
  font-family: 'Roboto', sans-serif;
  padding-top: 24px;
  margin: 0;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23077;
  color: #2f2f2f;
}
.field {
  margin-bottom: 16px;
  width: 280px;
}
.label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  color: #2f2f2f;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.input {
  box-sizing: border-box;
  border: 1px solid #d7e3ff;
  border-radius: 6px;
  width: 100%;
  height: 44px;
  padding: 12px 10px;
  color: #407bff;
}

.input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #9ebbff;
}
.input:active,
:focus {
  border-color: #d7e3ff;
  color: #407bff;
  outline: none;
}
.password:hover {
  scale: 1.2 !important;
  filter: drop-shadow(2px -1px 1px #233d73) !important;
}

.button {
  display: block;
  cursor: pointer;
  border-radius: 10px;
  padding: 8px 30px;
  width: 280px;
  height: 36px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: #407bff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  border: none;
  margin-bottom: 16px;
}
.button:hover {
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  scale: 1.01;
}
.link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #407bff;
  text-decoration: none;
}
.modulInput {
  position: relative;
}
.password {
  cursor: pointer;
  fill: #407bff;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.errorMessage {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #ef5050;
}
.inputInvalid {
  border: 1px solid #ef5050;
  color: #ef5050;
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 44px;
  padding: 12px 10px;
}
.inputInvalid::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #ef5050;
}
.linkConteiner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .title {
    padding-top: 40px;
  }
  .field {
    width: 336px;
  }
  .button {
    padding: 10px 30px;
    width: 336px;
    height: 44px;
    font-size: 18px;
    line-height: 1.33333;
  }
}
@media screen and (min-width: 1440px) {
  .title {
    padding-top: 113px;
  }
  .field {
    width: 384px;
  }
  .button {
    width: 384px;
    font-size: 18px;
    line-height: 1.33333;
  }
}


@media (prefers-color-scheme: dark) {
  input {
    background-color: #1C1D26;
    border: 2px solid #2F3875 !important;
  }
  label,
  .title {
    color: #D5DFF5 !important;
  }
  button {
    color: #1C1D26 !important;
  }
  .button:hover {
    box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
    scale: 1.01;
  }
}
