.wellcomeContainer {
  padding-top: 24px;
  padding-bottom: 40px;
  background-image: url('../../assets/images/mob/background_main_page_mob.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media (prefers-color-scheme: dark) {
  .wellcomeContainer {
    background-image: url('/src/assets/images/mob/Dark_theme_Background_Main_Page_mobile.avif');
  }
}
.mainWrapperBg {
  display: flex;
  justify-content: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .wellcomeContainer {
    background-image: url('../../assets/images/mob/background_main_page_mob@2x.png');
  }

  @media (prefers-color-scheme: dark) {
  .wellcomeContainer {
    background-image: url('/src/assets/images/mob/Dark_theme_Background_Main_Page_mobile_2x.avif');
  }
}
}



@media screen and (min-width: 439px) {
  .wellcomeContainer {
    width: 439px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .wellcomeContainer {
    background-image: url('../../assets/images/mob/background_main_page_mob@2x.png');
  }

  @media (prefers-color-scheme: dark) {
    .wellcomeContainer {
      background-image: url('/src/assets/images/mob/Dark_theme_Background_Main_Page_mobile_2x.avif');
    }
  }
}

@media screen and (min-width: 768px) {
  .wellcomeContainer {
    min-width: 768px;
    width: 100%;

    height: calc(100vh - 60px);
    padding-top: 40px;
    padding-bottom: 50px;

    background-image: url('../../assets/images/tablet/background_main_page_tablet.png');
  }

  @media (prefers-color-scheme: dark) {
  .wellcomeContainer {
    background-image: url('/src/assets/images/tablet/Dark_theme_Background_Main_Page_tablet.avif');
  }
}
}



@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) and (min-width: 768px) {
  .wellcomeContainer {
    background-image: url('../../assets/images/tablet/background_main_page_tablet@2x.png');
  }

  @media (prefers-color-scheme: dark) {
  .wellcomeContainer {
    background-image: url('/src/assets/images/tablet/Dark_theme_Background_Main_Page_tablet_2x.avif');
  }
}
}



@media screen and (min-width: 1440px) {
  .wellcomeContainer {
    min-width: 1440px;
    width: 100%;

    padding-top: 49px;
    padding-bottom: 109px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../public/images/Main-imgs/Main-bd-desk.png');
    background-size: contain;
  }

  .mainWrapperBg {
    background-image: url('../../../public/images/Main-imgs/Main-bubbles-bg-desk.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  @media (prefers-color-scheme: dark) {
  .wellcomeContainer {
    background-image: url('/src/assets/images/desktop/Dark_theme_Background_element_Sign_up_desktop.avif');
  }
  .mainWrapperBg {
    background-image: url('/src/assets/images/desktop/Dark_theme_bubbles_Background_element_Main_Page_desktop.avif');
  }
}
}



@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) and (min-width: 1440px) {
  .wellcomeContainer {
    background-image: url('../../../public/images/Main-imgs/Main-bd-desk@2x.png');
  }

  .mainWrapperBg {
    background-image: url('../../../public/images/Main-imgs/Main-bubbles-bg-desk@2x.png');
  }

  @media (prefers-color-scheme: dark) {
  .wellcomeContainer {
    background-image: url('/src/assets/images/desktop/Dark_theme_Background_element_Sign_up_desktop_2x.avif');
  }
  .mainWrapperBg {
    background-image: url('/src/assets/images/desktop/Dark_theme_bubbles_Background_element_Main_Page_desktop_2x.avif');
  }
}
}


