.mainContainer {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  background-image: url('../../../public/images/Main-imgs/Main-bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .mainContainer {
    background-image: url('../../../public/images/Main-imgs/Main-bg-mobile@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .mainContainer {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    background-image: url('../../../public/images/Main-imgs/Main-bd-tablet.png');
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) and (min-width: 768px) {
  .mainContainer {
    background-image: url('../../../public/images/Main-imgs/Main-bd-tablet@2x.png');
  }
}

@media screen and (min-width: 1440px) {
  .mainContainer {
    max-width: 1440px;
    height: 864px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 110px;
    padding-bottom: 110px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../../../public/images/Main-imgs/Main-bd-desk.png');
    background-size: contain;
  }

  .mainWrapperBg {
    background-image: url('../../../public/images/Main-imgs/Main-bubbles-bg-desk.png');
    width: 1404px;
    height: 582px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) and (min-width: 1440px) {
  .mainContainer {
    background-image: url('../../../public/images/Main-imgs/Main-bd-desk@2x.png');
  }

  .mainWrapperBg {
    background-image: url('../../../public/images/Main-imgs/Main-bubbles-bg-desk@2x.png');
  }
}
