.wellcomeContainer {
  padding-top: 24px;
  padding-bottom: 40px;
  background-image: url('../../../public/images/Main-imgs/Main-bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.mainWrapperBg {
  display: flex;
  justify-content: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .wellcomeContainer {
    background-image: url('../../../public/images/Main-imgs/Main-bg-mobile@2x.png');
  }
}
@media screen and (min-width: 439px) {
  .mainContainer {
    margin-left: auto;
    margin-right: auto;
    width: 439px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .mainContainer {
    background-image: url('../../../public/images/Main-imgs/Main-bg-mobile@2x.png');
  }
}

@media screen and (min-width: 768px) {
  .mainContainer {
    min-width: 768px;
  }
  .wellcomeContainer {
    height: calc(100vh - 60px);
    padding-top: 40px;
    padding-bottom: 50px;

    background-image: url('../../../public/images/Main-imgs/Main-bd-tablet.png');
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) and (min-width: 768px) {
  .wellcomeContainer {
    background-image: url('../../../public/images/Main-imgs/Main-bd-tablet@2x.png');
  }
}

@media screen and (min-width: 1440px) {
  .wellcomeContainer {
    padding-top: 49px;
    padding-bottom: 109px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../public/images/Main-imgs/Main-bd-desk.png');
    background-size: contain;
  }

  .mainWrapperBg {
    background-image: url('../../../public/images/Main-imgs/Main-bubbles-bg-desk.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) and (min-width: 1440px) {
  .wellcomeContainer {
    background-image: url('../../../public/images/Main-imgs/Main-bd-desk@2x.png');
  }

  .mainWrapperBg {
    background-image: url('../../../public/images/Main-imgs/Main-bubbles-bg-desk@2x.png');
  }
}
