.dropdownMenu {
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 150px;
    z-index: 4;
    padding: 16px;
    top: 30px;
    right: 0;
  }

  li[role="menuitem"]:hover {
    filter: drop-shadow(2px -1px 1px #5082F2);
  }

  .listCon {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 16px;

  }

  .menuItem {
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: #407BFF;
  }

  /* .menuItem:hover {
    background-color: #f0f0f0;
  } */

  .icon {
    margin-right: 8px;
    fill: #407BFF;
    width: 16px;
    height: 16px;
  }

  @media (prefers-color-scheme: dark) {
    .dropdownMenu {
      background-color: #1c1d26;
      border: #1c1d26;
      color: #5082F2;
    }
    li[role="menuitem"]:hover {
      filter: drop-shadow(2px -2px 1px #5082F2);
    }
  }
