.normaContainer {
  border: 1px solid #ecf2ff;
  border-radius: 10px;
  padding: 0px 20px 8px 20px;
  max-width: 168px;
  box-shadow: 0 4px 8px 0 rgba(158, 187, 255, 0.12);
  background: #fff;
  z-index: 3;
}

.title {
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33em;
  color: #2f2f2f;
}

.normWater {
  display: flex;
  gap: 12px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1em;
  color: #407bff;
}

.editBtn {
  font-weight: 400;
  font-size: 16px;
  width: 28px;
  height: 20px;
  color: #8baeff !important;
  background: transparent;
}

.editBtn:hover {
  scale: 1.3;
  filter: drop-shadow(2px -2px 2px rgba(64, 123, 255, 0.34));
}

@media screen and (min-width: 768px) {
  .normaContainer {
    position: absolute;
    left: 10%;
  }
}

@media screen and (min-width: 1440px) {
}

@media (prefers-color-scheme: dark) {
  .normaContainer {
    background-color: #1C1D26;
    border: #1c1d26;
    box-shadow: 0 4px 8px 0 rgba(2, 4, 9, 0.34);
  }
  .title {
    color: #D5DFF5;
  }
  .editBtn:hover {
    scale: 1.3;
    filter: drop-shadow(2px -2px 2px rgba(64, 124, 255, 0.731));
  }
}
