.calendarContainer {
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.containerDay {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
}

.selectedDay {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: #2f2f2f;
  text-align: left;
}

.loadingContainer {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.monthYear {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.month,
.year {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin: 0 5px;
  color: #407bff;
  display: flex;
  align-items: center;
}

.prevButton,
.nextButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  outline: none;
  display: flex;
  align-items: center;
}

.prevButton:focus,
.nextButton:focus {
  outline: none;
  box-shadow: none;
}

.prevButton svg,
.nextButton svg {
  width: 14px;
  height: 14px;
  fill: #407bff;
}

.daysList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px 26px;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  justify-items: center;
}

@media (min-width: 768px) {
  .daysList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 34px 24px;
  }

  .dayItem {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .calendarContainer {
    justify-content: center;
  }

  .selectedDay {
    font-size: 26px;
    line-height: 1.23;
  }

  .calendarDay {
    font-size: 16px;
    line-height: 1.25;
  }

  .percentageText {
    font-size: 13px;
    line-height: 1.54;
  }

  .loadingContainer {
    min-height: 300px;
  }
}

@media (min-width: 1440px) {
  .daysList {
    justify-content: space-between;
    gap: 22px 22px;
  }
}

@media (prefers-color-scheme: dark) {
  .selectedDay {
    color: #fff;
  }
}
