/*
.panelContainer {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.scale {
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress {
  height: 100%;
  background-color: #76c7c0;
  transition: width 0.3s ease;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.container {
  padding: 16px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.scale {
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 16px;
}

.filled {
  height: 100%;
  background-color: #76c7c0;
}

.addButton {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #45a049;
} */
/* Для планшетів (від 768px до 1439px) */
@media screen and (min-width: 768px) {
}

/* Для десктопів (понад 1440px) */
@media screen and (min-width: 1440px) {
}
