.box {
  width: 100%;
}

.panelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.label {
  width: 100%;
  text-align: left;
  color: #3f87ff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33em;
  margin-bottom: 8px;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  background: #d3d3d3;
  border-radius: 5px;
  height: 8px;
  outline: none;
  box-sizing: border-box;
  position: relative;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
  border: 1px solid #407bff;
  cursor: pointer;
  box-sizing: border-box;
}

.valueContainer {
  width: 100%;
  margin-bottom: 15px;
  /*ЗНАЧЕННЯ ЗА МАКЕТОМ 24РХ*/
}

.borderWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}
.afterBefor {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.percent {
  content: '';
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33em;
  text-align: center;
  color: #3f87ff;
  margin-top: 20px;
  left: -6px;
  top: -12px;
  margin-bottom: 12px;
}

.devider {
  content: '';
  position: absolute;
  width: 1px;
  height: 4px;
  color: #d7e3ff;
  top: -12px;
}
.percentToday {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25em;
  text-align: center;
}

.addWaterButton {
  margin-top: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  line-height: 1.25em;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #407bff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.addWaterButton:hover {
  background-color: #305edc;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  font-size: 20px;
  font-weight: 700;
}
.addWaterButton:hover .icon {
  transform: rotate(0deg);
  transition-delay: 0;
  transition: all 0.5s;
  scale: 1.1;
  filter: drop-shadow(3px -2px 2px rgba(2, 4, 9, 0.34));
}

.icon {
  fill: white;
  stroke: white;
  stroke-width: 2px;
  width: 24px;
  height: 24px;
  margin-right: 10px;

  transform: rotate(180deg);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
}

@media screen and (min-width: 768px) {
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .addWaterButton {
    margin-left: 32px;
    max-height: 45px;
  }
}

@media screen and (min-width: 1440px) {
  .box {
    display: flex;

    gap: 23px;
    align-items: center;
  }

  .addWaterButton {
    margin: 0 auto;
    /* max-width: 178px; */
  }
}

@media (prefers-color-scheme: dark) {
  .addWaterButton {
    border: #1c1d26;
    box-shadow: 0 4px 8px 0 rgba(2, 4, 9, 0.34);
    color: #1c1d26;
  }
  .icon {
    stroke: #1c1d26;
    transform: rotate(180deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(1, 0.8, 0.5, 1);
  }
  .addWaterButton:hover .icon {
    transform: rotate(0deg);
    transition-delay: 0;
    transition: all 0.5s;
    scale: 1.1;
    filter: drop-shadow(2px -1px 1px rgba(236, 242, 255, 0.8));
  }
  .slider {
    background: #2A3052 !important;
  }
  .slider::-webkit-slider-thumb {
    background: #2F3875 !important;
  }
}
