.buttonWrap {
  position: relative;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.userName {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  text-align: right;
  color: #2f2f2f;
}

.userAva {
  margin: 0 4px 0 8px;
}

.avatarImage {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.avatarPlaceholder {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.svgChevron {
  fill: #407bff;
}

@media (prefers-color-scheme: dark) {
  .userName {
    color: #fff;
  }
}
