.signUpTitle {
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  padding-top: 24px;
  margin: 0;
  padding-bottom: 16px;
}
.field {
  margin-bottom: 16px;
  width: 280px;
}
.fieldLabel {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  color: #2f2f2f;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.customInput {
  box-sizing: border-box;
  border: 1px solid #d7e3ff;
  border-radius: 6px;
  width: 100%;
  height: 44px;
  padding: 12px 10px;
  color: #407bff;
}
.customInput::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #9ebbff;
}

.customInput:active,
:focus {
  border-color: #d7e3ff;
  color: #407bff;
  outline: none;
}

.submitButton {
  display: block;
  cursor: pointer;
  border-radius: 10px;
  padding: 8px 30px;
  width: 280px;
  height: 36px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: #407bff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  border: none;
  margin-bottom: 16px;
}

.submitButton:hover {
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  scale: 1.01;
}

.signInLink {
  line-height: 20px;
  color: #407bff;
  text-decoration: none;
  display: block;
}

.passwordContainer {
  position: relative;
  width: 100%;
}

.customInput {
  padding-right: 36px;
  box-sizing: border-box;
}

.errorInput {
  border: 1px solid #ef5050;
  color: #ef5050;
}

.errorMessage {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #ef5050;
}

.eyeIcon {
  fill: #407bff;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.eyeIcon:hover {
  opacity: 1;
  scale: 1.2;
  filter: drop-shadow(2px -1px 1px #233d73);
}

@media (min-width: 768px) {
  .signUpTitle {
    padding-top: 40px;
  }
  .field {
    width: 336px;
  }
  .submitButton {
    padding: 10px 30px;
    width: 336px;
    height: 44px;
    font-size: 18px;
    line-height: 1.33333;
  }
}

@media (min-width: 1440px) {
  .signUpTitle {
    padding-top: 113px;
  }
  .field {
    width: 384px;
  }
  .submitButton {
    width: 384px;
    font-size: 18px;
    line-height: 1.33333;
  }
}
