.container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../../assets/images/fone-mob1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 570px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .container {
    background-image: url('../../assets/images/fone-mob2x.jpg');
  }
}

.signupPage {
  display: flex;
}

.waterBottle {
  width: 280px;
  height: 210px;
}

@media (min-width: 768px) {
  .signupPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 156px;
    width: 336px;
    padding-left: 36px;
    z-index: 1;
  }

  .container {
    display: flex;
    background-image: url('../../assets/images/fon-tab1x.jpg');
    z-index: -1;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .container {
      background-image: url('../../assets/images/fon-tab2x.jpg');
    }
  }

  .waterBottle {
    width: 736px;
    height: 548px;
    position: absolute;
    left: 112px;
    z-index: 0;
    padding-top: 52px;
    object-fit: contain;
  }
}

@media (min-width: 1440px) {
  .signupPage {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 148px;
  }

  .container {
    flex-direction: row-reverse;
    background-image: url('../../assets/images/fon1x.jpg');
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .container {
      background-image: url('../../assets/images/fon2x.jpg');
    }
  }
}
