.listItem {
  display: flex;
  align-items: center;
}

.listContainer {
  max-height: 180px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.scrollContainer {
  overflow-y: auto;
  flex: 1;
  padding-right: 5px;
}

.scrollContainer::-webkit-scrollbar {
  width: 4px;
}

.scrollContainer::-webkit-scrollbar-track {
  background: #d7e3ff;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #9ebbff, #8db5e0);
  border-radius: 4px;
  width: 6px;
}

.scrollContainer::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #8db5e0, #9ebbff);
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
}
