.wrapper{
    display: flex;
    gap: 24px;
    margin-bottom: 0px;
}
.label{
    color: #2F2F2F;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        align-items: center;
        justify-content: center;
}
.input{
    color: #407BFF;
    margin-right: 8px;
}