.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 32px 24px;
  border-radius: 10px;
  min-width: 280px;
  max-width: 1008px;
  max-height: 90vh;
  overflow-y: auto;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.modalHeader h2 {
  margin: 0;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23077;
  color: #2f2f2f;
}

button.modalClose {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
}

.modalClose svg {
  fill: blue;
}

@media (prefers-color-scheme: dark) {
  .modalContent {
    background-color: #1c1d26;
    border: #1c1d26;
    color: #D5DFF5;
  }
  .modalHeader h2 {
    color: #D5DFF5;
  }
}
