.link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.linkName {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #407bff;
}


@media (prefers-color-scheme: dark) {
  .iconUser {
    fill: #fff !important;
  }
}
