.modalBody {
  width: 232px;
}

.deleteBtn {
  color: #fff;
  background: #ef5050;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  border-radius: 10px;
  padding: 8px 30px;
  width: 100%;
  font-weight: 500;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.cancelBtn {
  border-radius: 10px;
  padding: 8px 30px;
  width: 100%;
  font-weight: 500;
  text-align: center;
  color: #407bff;
  background: #d7e3ff;
  border: none;
  font-size: 18px;
  line-height: 1.33333;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.textAreYou {
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: #2f2f2f;
}

.deleteTextEntry {
  font-weight: 500;
  font-size: 26px;
  line-height: 123%;
  color: #2f2f2f;
  margin: 0;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  gap: 24px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 32px 24px;
  border-radius: 10px;
  width: 280px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalClose {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modalClose svg {
  fill: blue;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

@media (min-width: 768px) {
  .modalBody {
    width: 544px;
  }

  .deleteBtn {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .cancelBtn {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .btnContainer {
    display: flex;
    flex-direction: row;
  }
}
