@import-normalize;
/* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  background: transparent;
  font-size: 18px;
  line-height: 1.33333;
  cursor: pointer;
}

button.btn {
  border-radius: 10px;
  padding: 10px 30px;
  font-weight: 500;
  text-align: center;
  color: #407bff;
  background: #d7e3ff;
}

button.btn.btn-blue {
  color: #fff;
  background: #407bff;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
}

button.btn.btn-red {
  color: #fff;
  background: #ef5050;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
}

button.btn.btn-blue:hover,
button.btn.btn-red:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

button.btn.btn-blue:active,
button.btn.btn-red:active {
  box-shadow: none;
}

button.btn-text1 {
  font-weight: 400;
  color: #407bff;
}

button.btn-text2 {
  font-weight: 500;
  color: #407bff;
}

button.btn-text1:hover,
button.btn-text2:hover {
  color: #ff9d43;
}

input[type='text'],
input[type='tel'],
input[type='number'],
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
textarea,
select {
  border: 1px solid #d7e3ff;
  border-radius: 6px;
  padding: 12px 10px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #407bff;
  outline: none;
}

input[type='text']:active,
input[type='password']:active,
input[type='tel']:active,
input[type='number']:active,
input[type='date']:active,
input[type='time']:active,
input[type='datetime-local']:active,
input[type='month']:active,
input[type='week']:active,
input[type='email']:active,
textarea:active {
  color: #407bff;
}

input[type='text'].error,
input[type='password'].error,
input[type='tel'].error,
input[type='number'].error,
input[type='date'].error,
input[type='time'].error,
input[type='datetime-local'].error,
input[type='month'].error,
input[type='week'].error,
input[type='email'].error,
textarea.error,
select.error {
  border: 1px solid #ef5050;
  color: #ef5050;
}

.passwordWrap {
  position: relative;
}

.passwordEye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.mainContainer {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .mainContainer {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .mainContainer {
    max-width: 1440px;
    padding-left: 112px;
    padding-right: 112px;
  }
}
