.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  position: relative;
  /* align-items: center; */
}

.homeContainer {
  padding-top: 24px;
}

.pageBackground {
  background-image: url('/src/assets/images/mob/background_element_home_screen_mob.png'),
    url('/src/assets/images/mob/background_element_home_screen_mob@2x.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  display: none;
}

@media screen and (min-width: 768px) {
  .pageBackground {
    background-image: url('/src/assets/images/tablet/background_element_home_screen_tablet.png'),
      url('/src/assets/images/tablet/background_element_home_screen_tablet@2x.png');
  }

  .imageModal {
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .homeContainer {
    padding-top: 20px;
  }

  .box {
    /* position: relative; */
    max-width: 592px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 16px;
  }

  .imageModal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* position: relative; */
  }

  .pageBackground {
    background-image: url('/src/assets/images/desktop/background_element_main_page.png'),
      url('/src/assets/images/desktop/background_element_main_page@2x.png');
  }

  .pageBackground {
    background-image: url('/src/assets/images/desktop/background_element_main_page.png'),
      url('/src/assets/images/desktop/background_element_main_page@2x.png');
  }
}
