.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  position: relative;
  /* align-items: center; */
}

.homeContainer {
  padding-top: 24px;
}

.pageBackground {
  background-image: url('/src/assets/images/mob/background_element_home_screen_mob.png'),
    url('/src/assets/images/mob/background_element_home_screen_mob@2x.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.darkBottle {
  display: none;
}

.bottle {
  filter: drop-shadow(0px 4px 8px rgba(65, 67, 71, 0.282));
}

@media (prefers-color-scheme: dark) {
  .pageBackground {
    background-image: url('/src/assets/images/mob/Dark_theme_Background_element_Home_screen_mobile.avif'),
    url('/src/assets/images/mob/background_element_home_screen_mob@2x.png');
  }
  .bottle {
    display: none;
  }
  .darkBottle {
    display: flex;
    width: 100%;
    filter: drop-shadow(0px 4px 8px rgba(236, 242, 255, 0.294));
  }
}

.title {
  display: none;
}

@media screen and (min-width: 768px) {
  .pageBackground {
    background-image: url('/src/assets/images/tablet/background_element_home_screen_tablet.png'),
      url('/src/assets/images/tablet/background_element_home_screen_tablet@2x.png');
  }

  @media (prefers-color-scheme: dark) {
    .pageBackground {
      background-image: url('/src/assets/images/tablet/Dark_theme_Background_element_Home_Screen_tablet.avif'),
      url('/src/assets/images/tablet/Dark_theme_Background_element_Home_Screen_tablet_2x.avif');
    }
  }

  .imageModal {
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .homeContainer {
    padding-top: 20px;
  }

  .box {
    /* position: relative; */
    max-width: 592px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 16px;
  }

  .imageModal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* position: relative; */
  }

  .pageBackground {
    background-image: url('/src/assets/images/desktop/background_element_main_page.png'),
      url('/src/assets/images/desktop/background_element_main_page@2x.png');
  }


  @media (prefers-color-scheme: dark) {
    .pageBackground {
      background-image: url('/src/assets/images/desktop/Dark_theme_Background_element_Home_screen_desktop.avif'),
      url('/src/assets/images/desktop/Dark_theme_Background_element_Home_screen_desktop_2x.avif');
    }
  }
}
