.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.title {
  display: none; /* Приховує елемент */
}
/* .dailyNorma {
  margin-left: auto;
} */
/* .image {
} */
.foto {
  border-radius: 20px;
  width: 320px;
  height: 374px;
  margin-bottom: 40px;
}

/* Для планшетів (від 768px до 1439px) */
@media screen and (min-width: 768px) {
}

/* Для десктопів (понад 1440px) */
@media screen and (min-width: 1440px) {
}
